name: Release Check

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  release-check:
    uses: ./.github/workflows/rust-job.yml
    with:
      rustflags: ""
      command: |
        cargo test --workspace --release --locked
        cargo build --locked --release -p solidity-analyzer
        cargo run -p xtask -- dist --skip-build
